.App {
	text-align: center;
	display: flex;
	flex-direction: column;
	/* background-color: cadetblue; */
	height: 100vh;
	position: relative;
}

.main-container {
	display: flex;
	flex-grow: 1;
	/* height: 100%; */
	/* flex-direction: column; */
	/* background-color: red; */
}

.content-container {
	flex-grow: 1;
	padding: 10px;
	background-color: #111;
	width: 100%;
	max-width: 100%;
	/* overflow-x: hidden; */
}

/* .card {
	height: 100% !important;
}

.card-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
height: 100%;
} */
